/*Desktop sizes*/
/*Desktop spaces*/
/*Mobile sizes*/
/*Mobile spaces*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: "header" "main";
    width: 100%;
    height: 100vh;
    font-family: "Barlow", serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .body--home {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
  
  .body--destination {
    height: 100%;
    background-image: url("../../assets/destination/background-destination-mobile.jpg");
  }
  
  .body--crew {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
  }
  
  .body--technology {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }
  
  main {
    display: grid;
    grid-area: main;
    gap: 32px;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
  
  .main--home {
    max-height: 450px;
  }
  




  .header-container {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
  }
  .header-container__burger-button {
    display: inline-block;
    justify-self: end;
    align-self: center;
    width: 2.4rem;
    height: 2.1rem;
  }
  .header-container__burger-button img {
    width: 100%;
    height: 100%;
  }
  
  .logo {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-left: 50px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  .nav-bar {
    display: grid;
    width: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .nav-bar__close-button {
    display: none;
    justify-self: end;
    align-self: center;
    margin-right: 24px;
    width: 1.9rem;
    height: 1.9rem;
  }
  .nav-bar__close-button img {
    width: 100%;
    height: 100%;
  }
  .nav-bar__ul {
    display: grid;  
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    height: 100%;
    align-items: center; 
    align-self: center;
    gap: 30px;
    padding: 0 25px;
    list-style: none;
  }

.nav-bar__item {
    display: grid;
    height: 100px;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    font-size: 1.6rem;
    font-family: "Bellefair", serif;
    text-align: start;
    letter-spacing: 0.27rem;
}

.nav-bar__item:hover {
    border-bottom: 3px solid white;
}

.nav-bar__number {
    color: #FFFFFF;
    display: none;
  }
  .nav-bar__a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .inactive {
    display: none;
  }
  