/*Desktop sizes*/
$desk-h1: 15rem;
$desk-h2: 10rem;
$desk-h3: 5.6rem;
$desk-h4: 3.2rem;
$desk-h5: 2rem;
$desk-subh1: 2.8rem;
$desk-subh2: 1.4rem;
$desk-body: 1.8rem;
$desk-navtext: 1.6rem;

/*Desktop spaces*/
$desk-space-h5: 0.475rem;
$desk-space-nav: 0.27rem;

/*Mobile sizes*/

$mobile-high-text: 8rem;
$mobile-planet-text: 5.6rem;
$mobile-h1: 1.6rem;
$mobile-h2: 1.6rem;
$mobile-h2-small: 1.4rem;
$mobile-h3: 2.4rem;
$mobile-h4: 2.8rem;
$mobile-h5: 1.4rem;
$mobile-subh1: 1.6rem;
$mobile-subh2: 1.4rem;
$mobile-body: 1.5rem;
$mobile-navtext: 1.6rem;

/*Mobile spaces*/
$mobile-space-h5: 0.23rem;
$mobile-space-nav: 0.27rem;
$mobile-space: 0.27rem;
$mobile-line-height: 2.5rem;