//Desktop sizes 
$desktop-font-small: 1.8rem;
$desktop-font-nav: 1.6rem;

//tablet sizes 
$tablet-font-jumbo: 8rem;
$tablet-font-medium: 2.8rem;
$tablet-font-small: 1.6rem;
$tablet-font-nav: 1.6rem;

//Mobile sizes
$mobile-font-jumbo: 8rem;
$mobile-font-medium: 1.6rem;
$mobile-font-small: 1.4rem;


//Mobile letter-space
$mobile-letter-space-medium: 0.27rem;
$mobile-letter-space-small: 0.23rem;
