/*Desktop sizes*/
$desk-h1: 15rem;
$desk-h2: 10rem;
$desk-h3: 5.6rem;
$desk-h4: 3.2rem;
$desk-h5: 2rem;
$desk-subh1: 2.8rem;
$desk-subh2: 1.4rem;
$desk-body: 1.8rem;
$desk-navtext: 1.6rem;

/*Desktop spaces*/
$desk-space-h5: 0.475rem;
$desk-space-nav: 0.27rem;

/*Mobile sizes*/
$mobile-h1: 8rem;
$mobile-h2: 10rem;
$mobile-h3: 4rem;
$mobile-h4: 2.8rem;
$mobile-h5: 1.4rem;
$mobile-subh1: 1.6rem;
$mobile-subh2: 1.4rem;
$mobile-body: 1.5rem;
$mobile-navtext: 1.6rem;

/*Mobile spaces*/
$mobile-space-h5: 0.3;
$mobile-space-nav: 0.27rem;