//Brakpoints para los diferentes tamaños de pantalla
$breakpoints: (
    sm: 320px,
    md: 768px,
    lg: 1024px 
);

//Function para agregar estilos según el tamaño de pantalla
@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

//Estilos generales para el main
@mixin main-box {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    gap: 32px;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
    text-align: center;
    @include media-up(md) {
        padding: 40px 0;
    }
    @include media-up(lg) {
        place-self: center;
        max-width: 1444px;
        padding: 0 165px;
        text-align: start;
    }
}

//Estilos generales para las imagenes de fondo de las diferentes pantallas
@mixin image-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}