$breakpoints: (
    sm: 320px,
    md: 750px,
    lg: 1024px 
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin main-box {
    display: grid;
    grid-area: main;
    gap: 32px;
    width: 100%;
    padding: 24px 0;
    text-align: center;
}

@mixin image-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

