:root {
    /*Colors*/
    --color-black: #0B0D17;
    --color-purple: #D0D6F9;
    --color-white: #ffffff;

    /*Typography*/
    --primary-font-family: 'Bellefair', serif;
    --font-size-h1: 15rem;
    --font-size-h2: 10rem;
    --font-size-h3: 5.6rem;
    --font-size-h4: 3.2rem;
    --font-size-h5: 2.8rem;
    --font-space-h5: 4.75;
    --font-size-subh1: 2.8rem;
    --font-size-subh2: 1.4rem;
    --font-size-navtext: 1.6rem;
    --font-space-navtext: 2.7;
    --font-size-body: 1.8rem;
}