@use '../abstracts' as a;

.box-info {
    width: 100%;
    height: auto;
    padding: 0 24px;
    color: a.$light-color;

    &__h2 {
        font-size: a.$mobile-font-medium;
        font-family: a.$second-font;
        font-weight: 400;
        opacity: 0.25;
    }

    &__h2--home {
        margin-bottom: 16px;
        font-size: a.$mobile-font-jumbo;
        color: a.$light-color;
        opacity: 1;
    }

    &__h2--destination {
        font-size: 5.6rem;
        color: a.$light-color;
        opacity: 1;
    }

    &__h2--tech {
        font-family: a.$barlow-condensed;
        font-size: a.$mobile-font-small;
        font-weight: 400;
        letter-spacing: a.$mobile-letter-space-small;
        color: a.$primary-color;
        opacity: 1;
    }

    &__h3 {
        margin: 8px 0 16px 0;
        font-size: 2.4rem;
        font-family: a.$second-font;
        font-weight: 400;
    }
    &__p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: a.$primary-color;
    }
    @include a.media-up(md) {
        max-width: 444px;
    }
}

.box-subinfo {
    display: grid;
    gap: 32px;
    width: 86%;
    height: auto;
    margin: auto;
    padding: 32px 0;
    border-top: 1px solid #383B4B;
    
    &__info {
        display: grid;
        gap: 12px;
    }
    
    &__avg-distance {
        font-size: a.$mobile-font-small;
        font-family: a.$barlow-condensed;
        font-weight: 400;
        letter-spacing: a.$mobile-letter-space-medium;
        color: a.$primary-color;
    }

    &__value {
        font-size: 2.8rem;
        font-family: a.$second-font;
        color: a.$light-color;
    }
}