@use '../abstracts' as a;

.button-explore {
    display: grid;
    place-self: center;
    place-items: center;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    background-color: white;
    justify-self: center;
    border-radius: 50%;
    a {
        text-decoration: none;
        font-size: 2.0rem;
        font-family: a.$second-font;
        letter-spacing: 0.15rem;
        color: a.$secondary-color;
    }

    @include a.media-up(md) {
        width: 242px;
        height: 242px;
        margin-top: 120px;
        a {
            font-size: 3.2rem;
        }
    }
}

.buttons-select {
    display: flex;
    justify-self: center;
    gap: 2.6rem;
    font-size: a.$mobile-font-small;
    font-family: a.$barlow-condensed;
    letter-spacing: a.$mobile-letter-space-small;
    color: a.$primary-color;
    &__button {
        height: 2.8rem;
        &--active {
            color: a.$light-color;
            border-bottom: 3px a.$light-color solid;
        }
    }
    &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: a.$light-color;
        opacity: 0.17;
        &--active {
            opacity: 1;
        }
    }
    &__circle-number {
        display: grid;
        width: 40px;
        height: 40px;
        border: 1px rgba($color: a.$light-color, $alpha: 0.25) solid;
        border-radius: 50%;
        p {
            font-size: a.$mobile-font-medium;
            place-self: center;
        }
        &--active {
            background-color: a.$light-color;
            color: a.$secondary-color;
        }
    }

    @include a.media-up(md) {
        font-size: 1.6rem;
        &--crew {
            grid-area: buttons;
        }
        &__circle-number {
            width: 60px;
            height: 60px;
        }
    }
}