@use '../abstracts' as a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: 78px auto;
    grid-template-areas: 
    "header"
    "main";
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: a.$primary-font;
    @include a.image-body;
    @include a.media-up(md) {
        grid-template-rows: 100px auto;
    }
    @include a.media-up(lg){
        grid-template-rows: 136px auto;
    }
}

.body--home {
    background-image: url("../../assets/home/background-home-mobile.jpg");
    @include a.media-up(md) {
        background-image: url("../../assets/home/background-home-tablet.jpg");
    }
    @include a.media-up(lg) {
        background-image: url("../../assets/home/background-home-desktop.jpg");
    }
}

.body--destination {
    background-image: url("../../assets/destination/background-destination-mobile.jpg");
    @include a.media-up(md) {
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }
    @include a.media-up(lg) {
        background-image: url("../../assets/destination/background-destination-desktop.jpg");
    }
}

.body--crew {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
    @include a.media-up(md) {
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
    }
    @include a.media-up(lg) {
        background-image: url("../../assets/crew/background-crew-desktop.jpg");
    }
}

.body--technology {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
    @include a.media-up(md) {
        background-image: url("../../assets/technology/background-technology-tablet.jpg");
    }
    @include a.media-up(md) {
        background-image: url("../../assets/technology/background-technology-desktop.jpg");
    }
}

main {
    @include a.main-box;
}

.main--home {
    max-height: 550px;

    @include a.media-up(md) {
        margin-top: 80px;
        max-height: 700px;
    }

    @include a.media-up(lg) {
        grid-template-areas: 
        'lefttop right'
        'left right';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 22px auto;
        gap: 24px;
        align-content: center;
    }
}

.main--destination {
    @include a.media-up(lg) {
        grid-template-columns: 1fr 472px;
        grid-template-rows: 98px 34px 250px 130px;
        grid-template-areas: 
        'title title'
        'moon select'
        'moon info'
        'moon subinfo';
        column-gap: 157px;
    }
}

.main--crew {
    @include a.media-up(md) {
        grid-template-rows: 60px auto 20px auto;
        grid-template-areas: 
        'main-title'
        'box-info'
        'buttons'
        'main-image';
        padding: 40px 0 0 0;
    }

    @include a.media-up(lg) {
        column-gap: 110px;
        max-height: 80vh;
        align-self: end;
        align-content: end;
        padding: 0 135px 0 165px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'title img'
        'info img'
        'select img';
    }
}

.main--tech {
    @include a.media-up(lg) {
        padding: 0 0 0 165px;
        justify-items: self-end;
        gap: 0;
        column-gap: 80px;
        align-items: center;
        grid-template-columns: 80px minmax(auto, 470px) 1fr;
        grid-template-rows: 60px 527px;
        grid-template-areas: 
        'title title title'
        'select info img';
    }
}