@use '../abstracts' as a;

.main-image {
    width: 100%;
    height: 170px;
    &--crew{
        width: 90%;
        margin: 0 auto;
        height: 224px;
        border-bottom: 1px solid #383B4B;
    }
    img {
        height: 100%;
    }
    &--tech {
        img {
            width: 100%;
        }
    }

    
    @include a.media-up(md) {
        height: 300px;
        &--crew {
            display: flex;
            justify-self: end;
            justify-content: center;
            align-items: end;
            width: 100%;
            height: 100%;
            grid-area: main-image;
            border-bottom: none;
            img {
                height: 50vh;
                object-fit: cover;
            }
        }
    }
}