@use '../abstracts' as a;

.main-title {
    display: flex;
    justify-self: center;
    width: auto;
    gap: 15px;
    &__p {
        font-size: a.$mobile-font-medium;
        color: a.$light-color;
        opacity: 0.25;
    }
    &__h1{
        font-family: a.$barlow-condensed;
        font-size: a.$mobile-font-medium;
        font-weight: 400;
        letter-spacing: a.$mobile-letter-space-medium;
        color: a.$light-color;
    }

    &__h1--home {
        color: a.$primary-color;
    }
    
    
    @include a.media-up(md){
        justify-self: start;
        margin-left: 39px;
        margin-bottom: 28px;
        
        &--home {
            justify-self: center;
        }

        &__p {
            font-size: 20px;
        }

        &__h1 {
            font-size: 20px;
        }

    }
}