@use '../abstracts' as a;

.main-title {
    display: flex;
    justify-self: center;
    width: auto;
    height: 1.6rem;
    gap: 15px;
    &__p {
        font-size: a.$mobile-h1;
        color: a.$light-color;
        opacity: 0.25;
    }
    &__h1{
        font-family: a.$barlow-condensed;
        font-size: a.$mobile-h1;
        font-weight: 400;
        letter-spacing: a.$mobile-space;
        color: a.$light-color;
    }

    &__h1--home {
        color: a.$primary-color;
    }
}