@use '../abstracts' as a;

@include a.media-up(md) {
    .active-screen {
        border-bottom: 3px solid white;
    }
}

.planet-select--active {
    color: a.$light-color;
    border-bottom: 3px a.$light-color solid;
}

.inactive {
    display: none;
    @include a.media-up(md) {
        display: flex;
    }
}    